<div class="col-md-8 col-md-offset-2">
    <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
<div class="col-md-6 col-md-offset-3">
    <h2>Trade</h2>
    <div ng-show="error" class="alert alert-danger">{{error}}</div>
    <form name="form" ng-submit="trade()" role="form">
    
        <div class="form-group" ng-class="{ 'has-error': form.bankAccountId.$dirty && form.bankAccountId.$error.required }">
            <input type="text" name="bankAccountId" id="bankAccountId" class="form-control" ng-model="bankAccountId" placeholder="Bank Account Number" required />
            <span ng-show="form.bankAccountId.$dirty && form.bankAccountId.$error.required" class="help-block">Bank account number is required</span>
        </div>
        
        <div class="form-group" ng-class="{ 'has-error': form.tradeAccountId.$dirty && form.tradeAccountId.$error.required }">
            <input type="text" name="tradeAccountId" id="tradeAccountId" class="form-control" ng-model="tradeAccountId" placeholder="Trade Account Number" required />
            <span ng-show="form.tradeAccountId.$dirty && form.tradeAccountId.$error.required" class="help-block">Trade Account name is required</span>
        </div>
        
        <div class="form-group" ng-class="{ 'has-error': form.tradeCompany.$dirty && form.tradeCompany.$error.required }">
      
      	<select name="tradeCompany" id="tradeCompany" ng-model="tradeCompanies.name" class="form-control" required>
      		<option ng-repeat="option in tradeCompanies.availableOptions" value="{{option.id}}">{{option.name}}</option>
    	</select>
        <span ng-show="form.tradeCompany.$dirty && form.tradeCompany.$error.required" class="help-block">Trade company is required</span>
      	</div>
    
   	    <div class="form-group" ng-class="{ 'has-error': form.stockName.$dirty && form.stockName.$error.required }">
            <input type="text" name="stockName" id="stockName" class="form-control" ng-model="stockName" placeholder="Stock Name" required />
            <span ng-show="form.stockName.$dirty && form.stockName.$error.required" class="help-block">Stock name is required</span>
        </div>
        
        <div class="form-group" ng-class="{ 'has-error': form.tradeType.$dirty && form.tradeType.$error.required }">
      
      	<select name="tradeType" id="tradeType" ng-model="tradeTypes.type" class="form-control" required>
      		<option ng-repeat="option in tradeTypes.availableOptions" value="{{option.id}}">{{option.name}}</option>
    	</select>
        <span ng-show="form.tradeType.$dirty && form.tradeType.$error.required" class="help-block">Trade type is required</span>
      	</div>
   
        <div class="form-group" ng-class="{ 'has-error': form.stockNumber.$dirty && form.stockNumber.$error.required }">
            <input type="text" name="stockNumber" id="stockNumber" class="form-control" ng-model="stockNumber" placeholder="Number Of Stock" required />
            <span ng-show="form.stockNumber.$dirty && form.stockNumber.$error.required" class="help-block">Number of stock is required</span>
        </div>
    
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Trade</button>
            <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
    </form>
</div>
</div>