<table>
<tr style="vertical-align: top;">
<td>
<div id="navDiv" style="float:left;width:180px;min-height: 780px; height:100%; margin-left:6px;background-color:orange;" >

	<table class="table">
			<th style="color: ghostwhite;"> Select Rule(s) </th>
			<tr ng-repeat="ruleType in ruleTypes">
			<td><label for="{{ruleType.value}}">{{ruleType}}</label></td>
			<td><input type="checkbox" id="{{ruleType}}" ng-model="selectedList[ruleType]"/></td>
			</tr>
			<tr style="text-align:center;">
			<td>
			<button class="btn btn-default" style="background-color: orange;" ng-click="findTrades()">Find Trades</button></td><td></td>
			</tr>
	</table>
</div>
</td>
<td>

<div class="container" style="color: white;min-height: 780px;background: url(http://www.addictinggames.com/a/img/ag_bg.jpg);min-width: 1220px;float: right;margin-right: 46px;">
  <div>
  	<h3>Be a Surveillance Ninja.</h3><p>Finally you found the courage to fight injustice..</p> 
  </div>
  <div ng-if="tradeAvailable" >
    <div dynamic-layout items="cards" style="width: 99%;min-height: 550px;border-style: solid;border-radius: 10px;"></div> 
    
  	<div style="float:left;margin-bottom: 18px;margin-top: 5px;width: 260px;">
			<button id="evalBtn"  class="btn btn-default" style="background-color: orange;" ng-click="findAlerts()"  ng-disabled=isEvaluateBtnDisabled()>Evaluate and Arrest These Trades</button>
	</div>
	
	<div ng-if="alertsAvailable" style="width: 100%">
	
  		<div style="width: 25%;float: left;">
  				<img class="img-responsive" alt="ninja image" style="height: 250px;width: 250px;text-align: right;margin-top: 20px;"  ng-src="{{ninjaImage}}"/>
  		</div>
  		
  		<div style="float: left;width: 45%;margin-top: 30px;font-size: 25px;color: orange;">
  			<p>{{message}}</p>
  		</div>
  		<div style="width:100%">
  		<div style="width:25%"></div>
  		
  		<div style="float: left;width: 50%;margin-top: 30px;font-size: 15px;">
        <ul ng-repeat="alert in alerts">
			<li>
				<label>{{alert.message}} for trade - {{alert.businessObject.tradeId}}</label>
			</li>
		</ul>
		</div>
  		</div>
  		
  		
	</div>
 </div>
</div> 


</td>
</tr>

</table>
