<div id="navDiv" style="float:left;width:180px;min-height: 876px;background-color:orange;" >


<span style=""ng-repeat="d in ruleTypes">
    <input type="checkbox" id="{{d}}" ng-model="selectedList[d]"/>
    <label for="{{d.value}}">{{d}}</label>
</span>
<button class="btn btn-default" style="background-color: orange;" ng-click="findTrades()">Submit Types</button>

</div>

<div class="container" style="color: white;min-height: 780px;background: url(http://www.addictinggames.com/a/img/ag_bg.jpg);min-width: 1250px;float: right;margin-right: 22px;">
  <div>
  	<h3>So you are here ....</h3><p>Finally you found the courage to fight injustice</p> 
  	
  	<button class="btn btn-default" style="background-color: orange;" ng-click="findTrades()">Find Trades</button>
  </div>
  <p></p>
  <div>
  

          

          
     <div dynamic-layout items="cards" style="width: 99%;margin-top: 90px;min-height: 600px;border-style: solid;border-radius: 10px;"></div> 
   
      <div ng-if="tradeAvailable" >
               
   
 <!--   	<div>
   		<table class="table">
			<tr>
				<th ng-repeat="headerContent in headerContents">{{headerContent}}</th>
			</tr>
			<tr ng-repeat="trade in trades">
			<td>{{trade.id}}</td>
			<td>{{trade.party1}}</td>
			<td>{{trade.party2}}</td>
			<td>{{trade.instrument}}</td>
			<td>{{trade.executionDate | date : "dd:MM:yyyy"}}</td>
			<td>{{trade.direction}}</td>
			<td>{{trade.rate}}</td>
			<td>{{trade.volume}}</td>
			<td><input type = "checkbox" ng-model="trade.selected"
                 id = "{{trade.id}}"
                 value = "{{trade}}" /></td>
			</tr>
		</table>
   	</div>
   
  	<div>
		<div>
			<button ng-click="findAlerts()">Arrest These Trades And Produce To Court</button>
		</div>
    </div>
  -->
  	<div ng-if="alertsAvailable" style="text-align: right;">
  		<div >
			<div>
				<H4>{{message}}</H4>
				<div>
        			<ul ng-repeat="alert in alerts">
						<li>
							<label>
								{{alert.message}} for trade - {{alert.businessObject.id}}
							</label>
						</li>
					</ul>
				</div>
			</div>
    	</div>
  	</div>
  	
  	<div style="float:left;margin-bottom: 18px;margin-top: 5px;">
			<button class="btn btn-default" style="background-color: orange;" ng-click="findAlerts()">Evaluate and Arrest These Trades</button>
		</div>
  	
 </div>
 </div>
</div> 
